
.App {
  display: flex;


  align-items: center;
  justify-content: center;
}
.container{
  border: 2px solid blueviolet;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.container-button{
  margin-bottom: 20px;
}
.red{
  color: red;
}
.error{
  border: red 2px solid;

}
.error-message{
  color:red;
}